.title
  %h1
    How?
    %span.h-additional-info - Main Flow improved with Hotkeys

.tile-vertical
  %h2 Typing

  .point
    Language boxes (input fields) have two hidden features. They include autocompletion and for convenience you can insert a diacritic mark using either a button above an input field or a hotkey
    %span.hint alt+number
    for small marks and
    %span.hint alt+shift+number
    for capital ones. Number is a position of a mark on its list (above input field counting from left, e.g. first capital diacritic mark would be at
    %span.hint alt+shift+1
    \. 

.tile-vertical
  %h2 Steps

  .point
    To improve speed of making things done instead of clicking
    %span.hint Continue
    and disrupting typing, you can easily just hit
    %span.hint Return
    and have both hands still on a keyboard.

.tile-vertical
  %h2 Creating

  .point
    To create a new translation just click on a plus from the right menu.
    Creating has been reduced to one single step consisted of typing a word in polish and then in german.
    If you want to create just a word, not a whole translation, you can left a field blank.

.tile-vertical
  %h2 Editing

  .point
    The only editable thing are words.
    To do this just click on a word in a word box and then click the word again to open editing mode.
    If you are happy because of changes, just hit
    %span.hint Return
    to save them. Otherwise hit
    %span.hint Escape
    to discard changes.