.title
  %h1
    Why?
    %span.h-additional-info - My Mission

.tile-vertical
  %h2 Reason

  .point
    \I have learned english and german for few years and I am trying to make it easier to learn new words and phrases. Especially to remember them for a long time, not to the next quiz in school or in college.

.tile-vertical
  %h2 Goal

  .point
    I would be very happy if this application could help anybody to learn faster and more effective.
    %br
    I hope that it will help me :)