.title
  %h1 Recently Added Words

- Language::AVAILABLE.each do |lang|
  - if @words[lang].present?
    .tile-vertical.bottom-9
      = word_box(@words[lang].first(Word::RECENT_LIMIT), class: 'scalable min-height-92') do |word|
        %li.clickable
          = link_to word.name, word

      .actions
        = link_to 'Add', new_word_path(lang: lang), class: 'next'