- if @words.values.compact.present?
  - Word::LANGUAGES.each do |lang|
    - if @words[lang].present?
      .word-box
        .lang
          = image_tag "flag-#{lang}.png", class: 'flag'

        %ul
          - @words[lang].each do |word|
            %li.clickable{ title: word.name }
              = link_to word.highlight, word, class: 'block'

- else
  .results Nothing found

= link_to 'New Translation', new_word_path
