.title
  %h1 Recently Added Words

- Language::AVAILABLE.each do |lang|
  - if @words[lang].present?
    .tile-vertical
      = word_box(@words[lang].first(15), class: 'scalable min-height-73') do |word|
        %li.clickable{ title: word.name }
          = link_to word.highlight, word, class: 'block'