#polish{ lang: 'pl' }

:coffeescript
  $ () ->
    # TODO! w przypadku niepodania atrybutu lang podczas tworzenia stara sie ustalić jezyk (atrybut lang elementu)
    # my goal: $('#german, #polish').languageBox { sourceUrl: '#{autocomplete_words_path}' }
    $('#polish').languageBox { sourceUrl: '#{autocomplete_words_path}' }