@import 'fonts', 'css3'

*
	font-family: 'Lucida Grande', 'Arial', sans-serif

// COLORS
// more: http://www.colourlovers.com/palette/1537649/not_my_fault.
$body-background-color: #ebebeb
$content-background-color: #f9f9f9
$top-bar-background-color: #660066

h1
	padding: 5px 0 10px 0

.black
	color: #000000

.actions
	overflow: hidden