@font-face {
  font-family: "Futura Condensed Medium";
  src: url("/futura_condensed_medium.ttf"); }

@font-face {
  font-family: "DejaVu Sans Mono Bold";
  src: url("/deja_vu_sans_mono_bold.ttf");
  font-weight: normal;
  font-style: normal; }

.font-20 {
  font-size: 20pt; }

.font-30 {
  font-size: 30pt; }

.italic {
  font-style: italic; }

.bold {
  font-weight: bold; }

.normal {
  font-style: normal;
  font-weight: normal; }

.upcase {
  text-transform: uppercase; }

.font-futura {
  font-family: "Futura Condensed Medium"; }

.font-dejavu-bold {
  font-family: "DejaVu Sans Mono Bold"; }

.black {
  color: black; }

.actions {
  overflow: hidden; }

.hidden {
  display: none !important; }

.full-width {
  width: 100% !important;
  overflow: hidden; }
