.navigation .menu li a.add {
  height: 34px;
  padding-top: 14px; }

.language-box ul li.clickable.removeable .remove, .word-box ul li.clickable.removeable .remove {
  right: 2px; }

input[type='button'], input[type='submit'] {
  display: block;
  padding-top: 3px; }

.pagination a, .actions a {
  padding-top: 5px !important;
  height: 20px !important; }

.language-box .lang, .word-box .lang {
  margin-top: 1px; }

.actions.one-line {
  height: 27px; }
