html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ffff99;
  color: black;
  text-decoration: none; }

mark {
  background-color: #ffff99;
  color: black;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

.language-box, .word-box {
  width: 550px;
  padding: 5px;
  background-color: white;
  border: 1px solid #cccccc; }
  .language-box.focus, .language-box:hover, .word-box.focus, .word-box:hover {
    border-color: #bbbbbb;
    box-shadow: inset 0 0 1px 0 #cccccc; }
  .language-box .main-bar, .word-box .main-bar {
    overflow: hidden;
    width: 100%;
    padding-bottom: 3px;
    border-bottom: 1px solid #eeeeee; }
    .language-box .main-bar ul, .word-box .main-bar ul {
      max-width: 500px;
      float: left; }
  .language-box .lang, .word-box .lang {
    float: right;
    padding: 3px 5px; }
    .language-box .lang .flag, .word-box .lang .flag {
      width: 18px;
      height: 11px;
      border: 1px solid black; }
  .language-box ul, .word-box ul {
    overflow: hidden; }
    .language-box ul li, .word-box ul li {
      display: block;
      float: left;
      position: relative;
      padding: 3px 5px;
      border: 1px solid white;
      font: bold 11px "Lucida Grande";
      line-height: 13px !important;
      color: #aaaaaa; }
      .language-box ul li a, .word-box ul li a {
        color: inherit;
        text-decoration: inherit; }
      .language-box ul li.clickable, .language-box ul li.ui-menu-item, .word-box ul li.clickable, .word-box ul li.ui-menu-item {
        cursor: pointer; }
      .language-box ul li.focus, .language-box ul li.clickable:hover, .word-box ul li.focus, .word-box ul li.clickable:hover {
        background-color: #f7f7f7;
        color: #777777;
        border-color: #cccccc;
        box-shadow: 0 0 1px #dddddd;
        border-radius: 2px; }
      .language-box ul li.clickable.removeable, .word-box ul li.clickable.removeable {
        padding-right: 12px; }
        .language-box ul li.clickable.removeable .remove, .word-box ul li.clickable.removeable .remove {
          position: absolute;
          top: -2px;
          right: 1px;
          display: none;
          color: #dddddd;
          text-decoration: none; }
          .language-box ul li.clickable.removeable .remove:before, .word-box ul li.clickable.removeable .remove:before {
            content: "x"; }
          .language-box ul li.clickable.removeable .remove:hover, .word-box ul li.clickable.removeable .remove:hover {
            color: #888888; }
        .language-box ul li.clickable.removeable:hover .remove, .word-box ul li.clickable.removeable:hover .remove {
          display: block; }
        .language-box ul li.clickable.removeable.block, .word-box ul li.clickable.removeable.block {
          display: block;
          padding: 3px 5px;
          margin: -3px -5px; }
  .language-box form, .word-box form {
    float: left; }
    .language-box form input[type='text'], .word-box form input[type='text'] {
      border: 0;
      width: 450px;
      padding: 0 0 0 5px;
      font: bold 11px "Lucida Grande";
      line-height: 13px !important;
      color: #777777; }
      .language-box form input[type='text']:focus, .word-box form input[type='text']:focus {
        outline: none; }
  .language-box textarea, .language-box input[type='text'], .word-box textarea, .word-box input[type='text'] {
    outline: none;
    margin: 0;
    padding: 3px;
    border: 0;
    font: normal 11px "Lucida Grande"; }
  .language-box textarea, .word-box textarea {
    resize: none;
    width: 544px;
    min-width: 544px;
    max-width: 544px;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    padding-bottom: 23px; }
    .language-box textarea.with-prompts, .word-box textarea.with-prompts {
      padding-bottom: 2px; }

.word-box {
  overflow: hidden;
  height: auto; }
  .word-box ul {
    float: left;
    max-width: 500px; }

body {
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: -0.6pt;
  line-height: 18px; }

body > .page {
  margin: 0 auto;
  width: 600px;
  overflow: hidden; }

.top-bar {
  margin: 20px 0;
  float: left; }

.content, .navigation {
  float: right;
  padding: 0; }

a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  text-align: center; }

.navigation .menu li {
  float: none;
  margin-top: 5px; }
  .navigation .menu li:first-child {
    margin-top: 0; }
  .navigation .menu li a {
    height: 50px;
    width: 50px;
    background-color: #37ce80;
    color: white; }
  .navigation .menu li.active a {
    background-color: #4e5953; }

.content {
  height: 400px;
  width: 545px;
  margin-right: 5px; }
  .content .title {
    height: 50px;
    padding: 0;
    width: 100%;
    margin-bottom: 5px; }
    .content .title h1 {
      padding: 13px 0 0 10px; }

.content > div {
  background-color: #f7f7f7;
  padding: 10px; }

.clear {
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  clear: both; }

h1 {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px; }

h2 {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px; }

h3 {
  font-weight: bold;
  font-size: 14px; }

.actions {
  padding: 5px 0 0 5px;
  overflow: hidden; }
  .actions input[type='button'], .actions input[type='submit'] {
    float: right;
    margin: 0 0 0 5px; }

input[type='button'], input[type='submit'] {
  display: block;
  height: 25px;
  width: 75px;
  border: 0;
  padding: 0;
  background-color: #37ce80;
  color: white;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  cursor: pointer; }
  input[type='button'].prev, input[type='submit'].prev {
    background-color: #bbbbbb; }
