@font-face {
  font-family: "Futura Condensed Medium";
  src: url("/futura_condensed_medium.ttf"); }

@font-face {
  font-family: "DejaVu Sans Mono Bold";
  src: url("/deja_vu_sans_mono_bold.ttf");
  font-weight: normal;
  font-style: normal; }

.font-20 {
  font-size: 20pt; }

.font-30 {
  font-size: 30pt; }

.italic {
  font-style: italic; }

.bold {
  font-weight: bold; }

.normal {
  font-style: normal;
  font-weight: normal; }

.upcase {
  text-transform: uppercase; }

.font-futura {
  font-family: "Futura Condensed Medium"; }

.font-dejavu-bold {
  font-family: "DejaVu Sans Mono Bold"; }

.black {
  color: black; }

.actions {
  overflow: hidden; }

.hidden {
  display: none !important; }

.full-width {
  width: 100% !important;
  overflow: hidden; }

body {
  background-color: white;
  border: 3px solid #37ce80;
  border-width: 3px 0 5px 0; }

body > div {
  margin: 0 auto;
  min-width: 640px;
  max-width: 880px; }

#logo {
  padding: 10px;
  float: left; }

.top-bar {
  background-color: white;
  height: 75px;
  overflow: hidden;
  text-align: right; }
  .top-bar .navigation {
    float: right; }
    .top-bar .navigation .menu {
      display: inline-block; }
      .top-bar .navigation .menu li {
        display: inline-block;
        padding: 8px;
        margin-right: 4px;
        color: #37ce80;
        font-weight: bold; }
        .top-bar .navigation .menu li:last-child {
          border-right: 0; }
        .top-bar .navigation .menu li:hover {
          color: #4e5953; }
        .top-bar .navigation .menu li.active {
          background-color: #37ce80;
          border-radius: 0 0 5px 5px;
          color: white; }
          .top-bar .navigation .menu li.active a {
            font-weight: bold;
            text-shadow: 0 -1px 1px #888888; }
        .top-bar .navigation .menu li a {
          color: inherit;
          font-size: 12pt;
          font-family: Helvetica;
          text-decoration: none; }
        .top-bar .navigation .menu li.search {
          padding-left: 10px;
          padding-bottom: 0; }
          .top-bar .navigation .menu li.search input[type='search'] {
            font-size: 12px;
            width: 150px;
            margin: -3px 0 0 0;
            color: #888888;
            opacity: 0.2; }

.footer {
  text-align: center;
  padding: 20px 0 8px 0;
  color: #cccccc;
  font-size: 11px; }
  .footer:hover .author {
    color: #4e5953; }

.content > * {
  margin-left: 20px; }

.content .word-box, .content form {
  margin-bottom: 10px; }
.content .actions {
  text-align: right;
  padding: 5px;
  overflow: hidden;
  width: 557px; }
  .content .actions input[type='button'], .content .actions input[type='submit'] {
    background-color: #f7f7f7;
    color: #777777;
    border: 1px solid #cccccc;
    box-shadow: 0 0 1px #dddddd;
    border-radius: 2px;
    margin: 0;
    padding: 6px 10px;
    cursor: pointer;
    font: bold 12pt Helvetica; }
    .content .actions input[type='button'].primary, .content .actions input[type='submit'].primary {
      color: #4e5953;
      text-shadow: 0 1px 1px white; }
    .content .actions input[type='button'].secondary, .content .actions input[type='submit'].secondary {
      color: #999999;
      text-shadow: 0 1px 1px white; }
    .content .actions input[type='button']:hover, .content .actions input[type='submit']:hover {
      box-shadow: 0 0 0 #dddddd; }
