.title
  %h1 New Test

.tile-vertical
  = form_for @exam, html: { style: 'width: 100%; overflow: hidden' } do |f|
    %div{ style: 'float: left' }
      = f.label :lang, 'Choose Language'
      = f.select :lang, Language::FOREIGN

    .actions.one-line
      = f.submit 'Create'