.title
  %h1
    Test Summary
    .h-additional-info.score #{@exam.score} / #{@exam.max_score}

- if @wrong_entries.blank?
  .title.tile-vertical
    %h2
      Congratulations!
      .h-additional-info
        You have made no mistakes.

- else
  = render :partial => 'wrong_answers'